<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="background-image:url('moo.png');">

<h1> Hello {{obj}} </h1>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="Addition digit1">
    <input type="text" name="num2" placeholder="Addition digit2">
    <input type="submit">


</form>
<form action="mul/" method="get">
    <input type="text" name="num3" placeholder="Multiplication digit1">
    <input type="text" name="num4" placeholder="Multiplication digit2">
    <input type="submit">

</form>
<form  action="sub/" method="get">
    <input type="text" name="num5" placeholder="Subtraction digit1">
    <input type="text" name="num6" placeholder="Subtraction digit2">
    <input type="submit">


</form>
<form action="div/" method="get">
    <input type="text" name="num7" placeholder="Division digit1">
    <input type="text" name="num8" placeholder="Division digit2">
    <input type="submit">


</form>
</body>
</html>